<?xml version="1.0" encoding="UTF-8"?>
 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>m5_grupal6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletLogin</servlet-class> 
  </servlet>
  
   <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/</url-pattern> 
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>cookieServlet</servlet-name>
    <servlet-class>com.m5_sprint.controller.cookieServlet</servlet-class> 
  </servlet>
  
   <servlet-mapping>
    <servlet-name>cookieServlet</servlet-name>
    <url-pattern>/cookieServlet</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletRegistro</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletListaUsuarios</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletListaUsuarios</servlet-class> 
  </servlet>
  
    <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletLogout</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletListaCapacitaciones</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletListaCapacitaciones</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletHome</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletHome</servlet-class> 
  </servlet>
      
  <servlet>
    <servlet-name>ServletContacto</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletContacto</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletCliente</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletCliente</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletListaClientes</servlet-name>
    <servlet-class>com.m5_grupal6.controller.ServletListaClientes</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletProfesional</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletProfesional</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletListaProfesionales</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletListaProfesionales</servlet-class> 
  </servlet>
  
    <servlet>
    <servlet-name>ServletAdministrativo</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletAdministrativo</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletListaAdministrativos</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletListaAdministrativos</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletUpdateUser</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletUpdateUser</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletUpdateCliente</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletUpdateCliente</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletUpdateAdministrativo</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletUpdateAdministrativo</servlet-class> 
  </servlet>
  
  <servlet>
    <servlet-name>ServletUpdateProfesional</servlet-name>
    <servlet-class>com.m5_sprint.controller.ServletUpdateProfesional</servlet-class> 
  </servlet>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/errorPage.jsp</location>
  </error-page>
      
</web-app>

